In [100]:
# importing libraries
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing

In [101]:
# loading the Iris dataset
iris_dataset = pd.read_csv("Iris.csv")

iris_dataset.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [102]:
# idetifying the independent variables
dependent_column = "Species"
independent_colums = [i for i in iris_dataset if i != dependent_column and i != "id"]

In [104]:
# encoding the dependent variable
# 0 corresponding to 'Iris-setosa'
# 1 corresponding to others
iris_dataset[dependent_column] = iris_dataset[dependent_column].apply(
    lambda x: 0 if x == "Iris-setosa" else 1
)
iris_dataset.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [105]:
# extracting independent variables
x = iris_dataset[independent_colums]
# extracting dependent variables
# for our purpose, the 'Iris-setosa' will be used from 'Species' column's dummies
y = iris_dataset[dependent_column]

In [106]:
# splitting the data into a training and test set
x = x.values.reshape(-1, x.shape[1])
y = y.values.reshape(-1, 1)

x = preprocessing.scale(x)

X_train, X_test, y_train, y_test = train_test_split(
    x, y, test_size=0.25, random_state=0
)

In [107]:
# fitting the training set to the logistic regression model
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

# make predictions on test set
predictions = log_reg.predict(X_test).reshape(-1, 1)

/Users/zahrasoheilasoheili/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [108]:
# generating a confusion matrix
# defining the classes
# 0 for 'Iris-setosa'
# 1 for others
classes = [0, 1]

conf_mat = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(conf_mat, columns=classes, index=classes)
cm_df

    0   1
0  13   0
1   0  25

It is likely to have similar precision and recall, since the number of wrong predicted values are 0.

In [109]:
# model's accuracy
score = log_reg.score(X_test, y_test)

print("Accuracy: {}".format(score))

Accuracy: 1.0

In [110]:
# model's precision
# (# of True Positive) / ((# of True Positive) + (# of False Positive))
# # of True positive = number of correctly predicted (actual value = 0 & predicted value = 0)
# # of False positive = number of falsely predicted as Iris-setosa (actual value = 1 & predicted value = 0)
precision = (cm_df[0][0]) / (cm_df[0][0] + cm_df[1][0])
print("Precision = ", precision)

Precision =  1.0

In [111]:
# model's recall
# (# of True Positive) / ((# of True Positive) + (# of False Negative))
# # of True positive = number of correctly predicted (actual value = 0 & predicted value = 0)
# # of False positive = number of falsely predicted as Iris-setosa (actual value = 0 & predicted value = 1)
recall = (cm_df[0][0]) / (cm_df[0][0] + cm_df[0][1])
print("Recall = ", recall)

Recall =  1.0

In [112]:
# model's F1-score
# F1-score = 2 * ((precision * recall) / (precision + recall))
F1 = 2 * (precision * recall) / (precision + recall)
print("F1-score = ", F1)

F1-score =  1.0

## Part 2

In [113]:
# loading the Iris dataset
iris_dataset = pd.read_csv("Iris.csv")

iris_dataset.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [114]:
# https://www.geeksforgeeks.org/ml-label-encoding-of-datasets-in-python/
label_encoder = preprocessing.LabelEncoder()

# encode labels in column 'Species'.
iris_dataset[dependent_column] = label_encoder.fit_transform(
    iris_dataset[dependent_column]
)

iris_dataset[dependent_column].unique()

array([0, 1, 2])

In [115]:
# extracting independent variables
x = iris_dataset[independent_colums]
# extracting dependent variables
y = iris_dataset[dependent_column]

In [116]:
# splitting the data into a training and test set
x = x.values.reshape(-1, x.shape[1])
y = y.values.reshape(-1, 1)

x = preprocessing.scale(x)

X_train, X_test, y_train, y_test = train_test_split(
    x, y, test_size=0.25, random_state=0
)

In [117]:
# fitting the training set to the logistic regression model
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

# make predictions on test set
predictions = log_reg.predict(X_test).reshape(-1, 1)

/Users/zahrasoheilasoheili/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [118]:
# generating a confusion matrix
# defining the classes
classes = ["Iris-setosa", "Iris-versicolor", "Iris-virginica"]

conf_mat = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(conf_mat, columns=classes, index=classes)
cm_df

                 Iris-setosa  Iris-versicolor  Iris-virginica
Iris-setosa               13                0               0
Iris-versicolor            0               16               0
Iris-virginica             0                0               9

The number of columns and the rows have increased since the problem is a three-class problem. 
Based on the confusion matrix, all the test cases have been predicted correctly.
Which means again, the accuracy, the precision and the recall values stay similar.